#container {
    border:5px solid #000;
}

#body {
    padding: 5px;
}

#grafico{
    width: 500px;
    height: 300px;
}

#start{
    background-color: green;
}

#pause{
    background-color: yellow;
}

#stop{
    background-color: red;
}

#title{
    color: green;
}

#parametriSimulazione{
    width: 40%;
    display: none;
}

#gameZone{
    position: absolute;
    top: 10%;
    right: 10%;
}

#menuSelection{
    display: none;
}

#statistics{
    width: 40%;
    display: none;
}

#home{
    width: 40%;
}

/* menu css */
.menu {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
